html, body {
  margin: 0;
  padding: 0;
  /*min-height: 100vh;*/
}

h1 {
  margin:12px;
  padding-left: 8px;
  color: #6369D1;
  font-family: 'Shrikhand', cursive;
  font-size: 2.5em;
}

h2 {
  font-family: 'Shrikhand', cursive;
  color: #6369D1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: #60E1E0;
}

.main {
  margin-top: 75px;
  margin-bottom: 75px;
  min-height: calc(100vh - 100px);
}

.footerCustom {
  height: 75px;
  background: #9593D9;
  color: #6369D1;
  font-family: 'Shrikhand', cursive;
  font-size: 2.5em;
  position: fixed;
  bottom:0;
  right:0;
  width: 100%;
  padding: 10px;
}

/***************************************************************************************************/

.pageWrap {
  margin: 75px 25px 100px 25px;
}

.ulContainer {
  padding: 10px 150px 10px 150px;
}

.liContainer {
  display: block; 
  margin: 10px;
  padding:30px;
  border: green solid 1px;
  border-radius: 4px;
  /*background-color: red;*/
}

.pageTitle {
  padding-top: 25px;
  padding-bottom: 25px;
}

.block {
  display: block;
  font-family: 'Shrikhand', cursive;
  /*color: #362023;*/
  color: #6361D9;
  font-size: 2em;
}

.orderLiUser {
  /*font-size: .8em;*/
  padding: 10px 0px 10px 0px;
}

.orderLiOrder {
  /*font-size: 1.2em;*/
   padding: 10px 0px 10px 0px; 
}

.delete-btn {
  color: #e74944;
  /*float: right;*/
}